#app{
    text-align: center;
}

#title{
    float:left;
    margin-left:5.5%;
    color:#4a4a4a;
    font-size:12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    margin-bottom:5px;

}
.form-control{
    width:88.7%;
    height:45px;
    border-radius:4px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    margin-top:62px;
}

.btn-custom{
    background-color:#03cea0;
    border-radius:5px;
    width: 88.7%;
    height: 45px;
    color:#ffffff;
    font-size:12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-top:90px;
}

.signOut{
    position:absolute;
    text-align:right;
    top:60px;
    right: 40px;
}

@media only screen and (max-width: 350px) {
   #forgotpass{
       margin-top:-4em !important;
       position: absolute;
       margin-right:2em !important;
   }
}

