<template>

    <div>
        <h3> Events Dashboard </h3>
        <button class="btn btn-danger btn-sm signOut" @click="signOut" name="button"> Sair </button>
        <h1 style="color:#03cea0"> Você está logado </h1>
    </div>

</template>

<script>
import {firebaseApp} from '../firebaseApp'

export default {
    methods:{
        signOut(){
            this.$store.dispatch('signOut')
            firebaseApp.auth().signOut()
        }
    }
  
}
</script>
