<template>
<div class="container">
    <div class="row">
        <div class="col-md-2 col-lg-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" align="center">
            <div class="from-inline">
                <img src="../assets/logo-ateliware.png" style="margin-bottom:93.6px; margin-top:51px"/>

                <div class="form-group">
                
                    <h3 style="font-size:16px; color:#9b9b9b; margin-bottom:59px"> Esqueceu sua senha ? </h3>
                    <span id="title" style="width:100%; margin-top:62px"> <strong> Digite seu e-mail cadastrado </strong> </span>
                    <input
                        data-aos="fade-left"
                        type="text"
                        class="form-control"
                        placeholder="seunomeaqui@gmail.com"
                    />
                    <div v-if="seen" style="margin-top:62px">
                        <h3 style="font-size:14px; color:#03cea0"> E-mail enviado! </h3>
                        <p style="font-size:13px; color:#4a4a4a"> Confira sua caixa de entrada, <br> enviamos instruções sobre como recuperar sua senha</p>
                    </div>

                    <button v-if ="!seen" @click="seen = !seen" class="btn btn-custom" name="button"> Enviar instruções por e-mail </button>
                    <br>
                    <br>

                   
                    
                </div>
            </div>
        </div>
        <div class="col-md-2 col-lg-2"></div>
    </div>
</div>
</template>

<script>

export default {
  data(){
      return{
          seen: false
      }
  }
}
</script>


