<template>
<div class="container">
    <div class="row">
        <div class="col-md-2 col-lg-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" align="center">
            <div class="from-inline">
                <img src="../assets/logo-ateliware.png" style="margin-bottom:93.6px; margin-top:51px"/>

                <div class="form-group">
                    <span id="title"> <strong> Digite seu e-mail </strong> </span>
                    <input
                        data-aos="fade-left"
                        type="text"
                        class="form-control"
                        v-model="email"
                    />
                    
                    <span id="title" style="width:100%; margin-top:62px"> <strong> Escolha uma senha</strong> 

                    </span>
                    <input
                        data-aos="fade-right"
                        type="password"
                        class="form-control"
                        v-model="password"
                    />

                    
                      <p align="left" style="color:#ea4848; margin-left:6%"> {{error.message}} </p>

                    <button @click="signUp" class="btn btn-custom" name="button"> Criar conta </button>
                    <br>
                    <br>
                    <router-link to="/signin"> Já tenho uma conta </router-link>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-lg-2"></div>
    </div>
</div>
</template>


<script>
import {firebaseApp} from '../firebaseApp'
export default {
  data(){
      return{
          email: '',
          password: '',
          error: {
              message:''
          }
      }
  },

  methods: {
      signUp(){
          firebaseApp.auth().createUserWithEmailAndPassword(this.email, this.password)
            .catch(error=> {
                this.error = error
            })

      }
  }
}
</script>

