<template>
<div class="container">
    <div class="row">
        <div class="col-md-2 col-lg-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" align="center">
            <div class="from-inline">
                <img data-aos="flip-left" src="../assets/logo-ateliware.png" style="margin-bottom:93.6px; margin-top:51px"/>

                <div class="form-group">
                    <span id="title"> <strong> Digite seu e-mail cadastrado </strong> </span>
                    <input
                        data-aos="fade-right"
                        type="text"
                        class="form-control"
                        v-model="email"
                    />
                    
                    <span id="title" style="width:100%; margin-top:62px"> <strong> Digite sua senha</strong> 

                        <router-link id="forgotpass" to="newpass" style="color:#9b9b9b; font-size:12px; float:right; margin-right:12%;"> 
                            Não lembro minha senha :( 
                        </router-link>

                    </span>
                    <input
                        data-aos="fade-left"
                        type="password"
                        class="form-control"
                        v-model="password"
                    />

                    
                      <p align="left" style="color:#ea4848; margin-left:6%"> {{error.message}} </p>

                    <button @click="signIn" class="btn btn-custom" name="button"> Acessar minha conta </button>
                    <br>
                    <br>
                    <router-link to="/signup"> Criar uma conta </router-link>
                    
                </div>
            </div>
        </div>
        <div class="col-md-2 col-lg-2"></div>
    </div>
</div>
</template>

<script>
    import {firebaseApp} from '../firebaseApp'
    export default {

        data(){
            return{
                email: '',
                password: '',
                error:{
                    message:''
                }
            }
        },

        methods: {
            signIn(){
                firebaseApp.auth().signInWithEmailAndPassword(this.email, this.password)
                .catch(error => {this.error=error})
            }

        }
    }
</script>